.resource-view {
    top: 100%;
    left: 0;
    zoom: 1;
    transform: translateY(-100%);
    border: 2px solid rgb(112, 62, 18);
    box-shadow: 0px 0px 20px 5px rgb(112, 62, 18) inset;
}

.fill {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.fill img {
    flex-shrink: 0;
    min-width: 100%;
    min-height: 100%
}

.resource-count-item,
.building-count-item {
    text-shadow: 0px 0px 2px rgb(30, 18, 18);
    color: rgb(30, 18, 18);
}

img {
    filter: drop-shadow(0px 0px 5px white);
}

.sub-title {
    box-shadow: 0px 0px 10px 0.5px rgba(0, 0, 0, 0.36) inset;
    z-index: 3;
}

.old-texture {
    mix-blend-mode: multiply;
    filter: opacity(0.5);
    z-index: -1;
}