.terkep {
    left: 50%;
    zoom: 0.60;
    transform: translateX(-50%);
    width: 1730px;
    height: fit-content;
    filter: drop-shadow(0px 0px 10px rgb(52, 27, 6));
}

img {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}