.corner {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    z-index: 20;
}

.corner .building {
    border-radius: 50%;
    ;
}

.corner:hover {
    transform: scale(1.5)
}